* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: black;
  text-decoration: none;
}

body {
  max-width: 1000px;
  margin: auto;
}

header {
  padding: 30px;
  padding-bottom: 27px;
  text-align: center;
  box-shadow: 0px 15px 10px -15px #817b7b;
  position: relative;
  z-index: 7;
}
header img.logo {
  width: 200px;
}

.localisation {
  padding: 20px;
  background-color: #eaeaea;
  text-align: center;
  z-index: 1;
  color: rgb(77, 73, 73);
}
.localisation__input {
  border: none;
  background-color: initial;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  width: 50%;
}
.localisation__input::placeholder {
  color: rgb(77, 73, 73);
  font-family: Arial, Helvetica, sans-serif;
}
.localisation__logo {
  font-size: 1rem;
}

.exploration {
  background-color: #F7F7F7;
  padding: 40px;
  text-align: center;
}
.exploration__title {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
.exploration__paragraph {
  color: #787878;
}
.exploration__btn {
  margin-top: 30px;
  padding: 15px;
  border-radius: 25px;
  border: none;
  color: white;
  background: linear-gradient(0deg, #A35BDC 0%, #eb5dd5 60%, #EE74DB 100%);
  box-shadow: 0px 2px 10px gray;
  transition: all 1000ms;
}
.exploration__btn:hover {
  cursor: pointer;
  box-shadow: none;
  background: linear-gradient(0deg, #af70e0 0%, #EE74DB 60%, #f18be1 100%);
}

.fonctionnement {
  margin: 25px;
  margin-top: 35px;
  margin-bottom: 60px;
}
.fonctionnement__group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fonctionnement__title {
  margin-bottom: 25px;
}
.fonctionnement__step {
  background-color: #F7F7F7;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #dedede;
  font-weight: 500;
  position: relative;
  transform: scale(1);
  transition: all 0.5s;
}
.fonctionnement__step i {
  color: #746e6e;
  margin-right: 10px;
}
.fonctionnement__step:hover {
  background-color: #F5EDFF;
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0px 3px 15px #c4c4c4;
}
.fonctionnement__step:hover i {
  color: #9152DB;
}
.fonctionnement__step--number {
  background: #9152DB;
  position: absolute;
  left: -8px;
  border-radius: 50%;
  font-size: 0.7rem;
  padding-top: 3px;
  text-align: center;
  color: white;
  width: 20px;
  height: 20px;
}

.restaurants {
  background-color: #F7F7F7;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 60px;
}
.restaurants__title {
  margin-bottom: 25px;
}

.ensemble__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cards {
  width: 100%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 3px 15px #dedede;
  position: relative;
  transition: all 0.5s;
}
.cards:hover {
  box-shadow: 0px 3px 15px #ababab;
  transform: scale(1.01);
}
.cards__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards__img--nouveau {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  color: #0E8F70;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  user-select: none;
}
.cards__description {
  margin: 15px;
  position: relative;
}
.cards__heart {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
}
.cards__heart:hover + .cards__heart--full {
  transition: all 1s;
  transform-origin: 100% 100%;
  opacity: 1;
  transform: scaleY(1);
}
.cards__heart--full {
  font-size: 1.5rem;
  background: linear-gradient(180deg, #A35BDC 0%, #eb5dd5 80%, #EE74DB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scaleY(0);
  opacity: 0.5;
}

footer {
  background-color: #353535;
  padding: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.footer__logo {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 180px;
}
.footer__element {
  color: white;
  transition: all 0.5s;
}
.footer__element:hover {
  color: #EE74DB;
}
.footer__element--icon1 {
  font-size: 0.8em;
  font-weight: 600;
  margin-right: 9px;
}
.footer__element--icon2 {
  font-size: 0.6em;
  font-weight: 600;
  margin-right: 8px;
}

header {
  box-shadow: none;
}

p {
  color: green;
}

@media screen and (min-width: 900px) {
  #main-wrapper {
    padding-top: 95px;
    max-width: 1800px;
  }
  header {
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1000px;
  }
  .localisation {
    border-radius: 15px 15px 0 0;
  }
  .localisation__input {
    width: 20%;
  }
  .exploration {
    border-radius: 0 0 15px 15px;
  }
  .fonctionnement__group {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
  .fonctionnement__step--number {
    top: -15px;
    left: 120px;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    font-size: 0.8em;
  }
  .restaurants {
    border-radius: 50px 50px 0 0;
  }
  .ensemble__cards {
    flex-direction: row;
    gap: 0px;
  }
  .cards {
    margin: 10px;
    width: 50%;
  }
  .cards__heart {
    top: 25px;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__logo {
    text-align: center;
  }
}
.loading {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  max-width: 1000px;
  background-color: white;
  z-index: 10;
  animation: slide-out 4s;
  transform: scaleY(0);
  animation-fill-mode: forwards;
  transform-origin: 0% 0%;
  opacity: 0.9;
}
.loading__food {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  max-width: 1000px;
  z-index: 10;
  text-align: center;
  line-height: 1000px;
  transform: rotate(0deg);
  animation: food 2.5s;
  animation-fill-mode: forwards;
  z-index: 50;
}
.loading__food i {
  color: #99E2D0;
  font-size: 10rem;
}

@keyframes slide-out {
  from {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1);
  }
  99% {
    z-index: 10;
  }
  to {
    transform: scaleY(0);
    z-index: -100;
  }
}
@keyframes food {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(600deg);
  }
  80% {
    opacity: 1;
  }
  99% {
    z-index: 11;
  }
  to {
    transform: rotate(0deg);
    opacity: 0;
    z-index: -100;
  }
}

/*# sourceMappingURL=main.css.map */
