* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 30px;
  padding-bottom: 27px;
  text-align: center;
  box-shadow: 0px 0px 0.5em rgba(0, 0, 0, 0.459);
  position: relative;
  z-index: 7;
}
header img.logo {
  width: 200px;
}

.localisation {
  padding: 20px;
  background-color: #eaeaea;
  text-align: center;
  z-index: 1;
  color: rgb(77, 73, 73);
}
.localisation__input {
  border: none;
  background-color: initial;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  width: 50%;
}
.localisation__input::placeholder {
  color: rgb(77, 73, 73);
  font-family: Arial, Helvetica, sans-serif;
}
.localisation__logo {
  font-size: 1rem;
}

.exploration {
  background-color: #F7F7F7;
  padding: 40px;
  text-align: center;
}
.exploration__title {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
.exploration__paragraph {
  color: #787878;
}
.exploration__btn {
  margin-top: 30px;
  padding: 15px;
  border-radius: 25px;
  border: none;
  color: #F7F7F7;
  background: #A35BDC;
  background: linear-gradient(0deg, #A35BDC 0%, #eb5dd5 60%, #EE74DB 100%);
  box-shadow: 0px 2px 10px gray;
  transition: background 0.5s;
}
.exploration__btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px gray;
}

.fonctionnement {
  margin: 25px;
  margin-top: 35px;
  margin-bottom: 60px;
}
.fonctionnement__group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fonctionnement__title {
  margin-bottom: 25px;
}
.fonctionnement__step {
  background-color: #F7F7F7;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px #dedede;
  font-weight: 500;
  position: relative;
}
.fonctionnement__step i {
  color: #746e6e;
  margin-right: 10px;
}
.fonctionnement__step--highlight {
  background-color: #F5EDFF;
}
.fonctionnement__step--highlight i {
  color: #9152DB;
}
.fonctionnement__step--number {
  background: #9152DB;
  position: absolute;
  left: -8px;
  border-radius: 50%;
  font-size: 0.7rem;
  padding-top: 3px;
  text-align: center;
  color: white;
  width: 20px;
  height: 20px;
}

.restaurants {
  background-color: #F7F7F7;
  padding: 20px;
  padding-top: 50px;
}
.restaurants__title {
  margin-bottom: 25px;
}

.cards {
  width: 100%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 3px 15px #dedede;
}
.cards__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards__description {
  margin: 15px;
  position: relative;
}
.cards__heart {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
}
.cards__heart:hover + .cards__heart--full {
  transition: all 1s;
  transform-origin: 100% 100%;
  transform: scaleY(1);
}
.cards__heart--full {
  font-size: 1.5rem;
  background: linear-gradient(0deg, #A35BDC 0%, #eb5dd5 60%, #EE74DB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scaleY(0);
}

.ensemble__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/*# sourceMappingURL=style.css.map */
