body {
  max-width: 1000px;
  margin: auto;
}

.localisation {
  padding: 20px;
  background-color: darken($primary_color, 5);
  text-align: center;
  z-index: 1;
  color: $text_lighter;
  &__input {
    border: none;
    background-color: initial;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    width: 50%;
    &::placeholder {
      color: $text_lighter;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  &__logo {
      font-size: 1rem;
  }
}

.exploration {
  background-color: $primary_color;
  padding: 40px;
  text-align: center;
  &__title {
    font-size: 1.6rem;
    padding-bottom: 20px;
  }
  &__paragraph {
    color: darken($primary_color, 50)
  }
}

.fonctionnement {
  margin: 25px;
  margin-top: 35px;
  margin-bottom: 60px;
  &__group {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__step {
    background-color: $primary_color;
    padding: 25px;
    border-radius: 15px;
    @include cards-boxshadow;
    font-weight: 500;
    position: relative;
    transform: scale(1);
    transition: all 0.5s;
    i {
      color: lighten($text_lighter, 15);
      margin-right: 10px;
    }
    &:hover {
      background-color: $highlight;
      cursor: pointer;
      transform: scale(1.01);
      @include cards-hboxshadow;
      i {
        color: $text_highlight;
      }
    }
    &--number {
      background: $text_highlight;
      position: absolute;
      left: -8px;
      border-radius: 50%;
      font-size: .7rem;
      padding-top: 3px;
      text-align: center;
      color: white;
      width: 20px;
      height: 20px;
    }
  }
}

.restaurants {
  background-color: $primary_color;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 60px;
  &__title {
    margin-bottom: 25px;
  }
}

    
.ensemble__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cards {
  width: 100%;
  border-radius: 15px;
  background-color: white;
  @include cards-boxshadow;
  position: relative;
  transition: all 0.5s;
  &:hover {
    @include cards-hboxshadow;
    transform: scale(1.01);
  }
  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    &--nouveau {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: $background_new;
      color: $text_new;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      user-select: none;
    }
  }
  &__description {
    margin: 15px;
    position: relative;
  }
}

footer {
  background-color: #353535;
  padding: 20px;
}