* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: black;
    text-decoration: none;
}

$primary_color: #F7F7F7;
$text_lighter: rgb(77, 73, 73);
$btn_gadiant_base: #A35BDC;
$btn_gradiant_light: #EE74DB;
$highlight: #F5EDFF;
$text_highlight: #9152DB;
$text_new: #0E8F70;
$background_new: #99E2D0;

body {
  max-width: 1000px;
  margin: auto;
}

header {
    padding: 30px;
    padding-bottom: 27px;
    text-align: center;
    box-shadow: 0px 15px 10px -15px lighten($text_lighter, 20);
    position: relative;
    z-index: 7;
    img.logo {
        width: 200px;
    }
}

.localisation {
  padding: 20px;
  background-color: darken($primary_color, 5);
  text-align: center;
  z-index: 1;
  color: $text_lighter;
  &__input {
    border: none;
    background-color: initial;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    width: 50%;
    &::placeholder {
      color: $text_lighter;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  &__logo {
      font-size: 1rem;
  }
}

.exploration {
  background-color: $primary_color;
  padding: 40px;
  text-align: center;
  &__title {
    font-size: 1.6rem;
    padding-bottom: 20px;
  }
  &__paragraph {
    color: darken($primary_color, 50)
  }
  &__btn {
    margin-top: 30px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    color: white;
    background: linear-gradient(0deg, $btn_gadiant_base 0%, darken($btn_gradiant_light, 5) 60%, $btn_gradiant_light 100%);
    box-shadow: 0px 2px 10px gray;
    transition: all 1000ms;
    &:hover {
      cursor: pointer;
      box-shadow: none;
      background: linear-gradient(0deg, lighten($btn_gadiant_base, 5) 0%, $btn_gradiant_light 60%, lighten($btn_gradiant_light, 5) 100%);
    }
  }
}

.fonctionnement {
  margin: 25px;
  margin-top: 35px;
  margin-bottom: 60px;
  &__group {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__step {
    background-color: $primary_color;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 3px 15px darken($primary_color, 10);
    font-weight: 500;
    position: relative;
    transform: scale(1);
    transition: all 0.5s;
    i {
      color: lighten($text_lighter, 15);
      margin-right: 10px;
    }
    &:hover {
      background-color: $highlight;
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: 0px 3px 15px darken($primary_color, 20);
      i {
        color: $text_highlight;
      }
    }
    &--number {
      background: $text_highlight;
      position: absolute;
      left: -8px;
      border-radius: 50%;
      font-size: .7rem;
      padding-top: 3px;
      text-align: center;
      color: white;
      width: 20px;
      height: 20px;
    }
  }
}

.restaurants {
  background-color: $primary_color;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 60px;
  &__title {
    margin-bottom: 25px;
  }
}

    
.ensemble__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cards {
  width: 100%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 3px 15px darken($primary_color, 10);
  position: relative;
  transition: all 0.5s;
  &:hover {
    box-shadow: 0px 3px 15px darken($primary_color, 30);
    transform: scale(1.01);
  }
  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    &--nouveau {
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: $background_new;
      color: $text_new;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
      user-select: none;
    }
  }
  &__description {
    margin: 15px;
    position: relative;
  }
  &__heart {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    &:hover + &--full {
      transition: all 1s;
      transform-origin: 100% 100%;
      opacity: 1;
      transform: scaleY(1);
    }
    &--full {
      font-size: 1.5rem;
      background: linear-gradient(180deg, $btn_gadiant_base 0%, darken($btn_gradiant_light, 5) 80%, $btn_gradiant_light 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: scaleY(0);
      opacity: 0.5;
    }
  }
}

footer {
  background-color: #353535;
  padding: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  &__logo {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 180px;
  }
  &__element {
    color: white;
    transition: all 0.5s;
    &:hover {
      color: $btn_gradiant_light;
    }
    &--icon1 {
      font-size: 0.8em;
      font-weight: 600;
      margin-right: 9px;
    }
    &--icon2 {
      font-size: 0.6em;
      font-weight: 600;
      margin-right: 8px;
    }
  }
}