.header__pages {
    &__arrow {
        position: absolute;
        font-size: 1.7em;
    }
}

.main__pages__lapalettedugout {
    background: white url('../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg') no-repeat top center;
    background-size: 100%;
}

.main__pages__lanote {
    background: white url('../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg') no-repeat top center;
    background-size: 100%;
}

.main__pages__francaise {
    background: white url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg') no-repeat top center;
    background-size: 100%;
}

.main__pages__dessens {
    background: white url('../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg') no-repeat top center;
    background-size: 100%;
}

.menu {
    padding-top: 45%;
}

.menucard {
    background-color: $primary_color;
    margin-top: 50px;
    border-radius: 45px 45px 0 0;
    padding: 40px 25px 15px 25px;
    &__header {    
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        &__hrt {
            position: relative;
            height: 50px;
            width: 90px;
        }
        &__title {
            font-family: Shrikhand, 'Gill Sans', 'Gill Sans MT', cursive;
            font-size: 2em;
        }
        i {
            font-size: 2.2rem;
        }
    }
}

.set {
    padding: 30px 0 30px 0;
    &__line {
        background-color: $background_new;
        height: 4px;
        margin-bottom: 20px;
        width: 2rem;
    }
    &__ensemble {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 25px;
    }
}

.meal {
    background-color: white;
    border-radius: 15px;
    @include cards-boxshadow;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    height: 72px;
    &__desc {
        width: 80%;
        margin: 15px 0 15px 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &__title {
            font-weight: 600;
            font-size: 1.2rem;
        }
        &__p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__price {
        font-weight: 600;
        width: 10%;
        margin: 15px 15px 15px 15px;
        padding-top: 25px;
        text-align: right;
    }
    &__check {
        background-color: $background_new;
        border-radius: 0 15px 15px 0;
        width: 80px;
        text-align: center;
        line-height: 72px;
        display: block;
        i {
            color: white;
            font-size: 1.1em;
            font-weight: 600;
        }
    }
}

.btn__commander {
    text-align: center;
}

.gradient__btn {
    padding: 10px 40px 10px 40px;
    font-size: 1.2em;
}