.meal {
    overflow: hidden;
    &__check {
        transform: translateX(100%);
        transition: all .5s;
        width: 0;
        i {
            transform: rotate(0deg);
            transition: all .5s;
        }
    }
    :hover {
        cursor: pointer;
    }
    :hover > &__check {
        transform: translateX(0);
        width: 80px;
        i {
            transform: rotate(720deg);
        }
    }
}