.loading {
    position: fixed;
    height: 100%;
    top: 0;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    z-index: 10;
    animation: slide-out 4s;
    transform: scaleY(0);
    animation-fill-mode: forwards;
    transform-origin: 0% 0%;
    opacity: 0.9;
    &__food {
        position: fixed;
        height: 100%;
        top: 0;
        width: 100%;
        max-width: 1000px;
        z-index: 10;
        text-align: center;
        line-height: 1000px;
        transform: rotate(0deg);
        animation: food 2.5s;
        animation-fill-mode: forwards;
        z-index: 50;
        i {
            color: $background_new;
            font-size: 10rem;
        }
    }
}

@keyframes slide-out{
    from {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1);
    }
    99%{
        z-index: 10;
    }
    to {
        transform: scaleY(0);
        z-index: -100;
    }
}

@keyframes food {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(600deg);
    }
    80% {
        opacity: 1;
    }
    99% {
        z-index: 11;
    }
    to {
        transform: rotate(0deg);
        opacity: 0;
        z-index: -100;
    }
}
